@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00060D;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0B;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  min-height: 100vh;
  position: relative;
}


.glass {
  background: rgba(1, 24, 38, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(23, 166, 85, 0.1);
  border-radius: 8px;
  transition: all 0.2s ease;
}

.glass:hover {
  background: rgba(1, 64, 52, 0.4);
  border-color: rgba(23, 166, 85, 0.2);
}

/* Add a new class for darker cards */
.glass-darker {
  background: rgba(0, 6, 13, 0.98);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(23, 166, 85, 0.1);
  border-radius: 12px;
}
